.App {
  text-align: center;
}

.player-wrapper {
  padding: 25px;
  /* position: relative;
  padding-top: 46.25%; */
  /* Player ratio: 100 / (1280 / 720) */
}

.box-palyer {
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.react-player {
  height: 70vh;
  width: 100%;
}

.react-player.img {
  width: auto;
  height: 70vh;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-inside {
  display: flex;
}

.player-wrapper {
  flex: 1;
  min-height: 100vh;
  overflow: hidden;
}

.playlist {
  /* flex: 0 0 200px; */
  /* Largura fixa da lista de reprodução */
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  padding-top: 18px;
}

.playlist h2 {
  margin-top: 0;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.playlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist li {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.playlist li:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #c0c0c0;
}

.video-title {
  font-size: 1.5em;
  font-weight: bold;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  margin-top: 10px;
  padding: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 50px;
  background-color: black;
}

.controls button {
  padding: 0 10px;
  border: 2px solid wheat;
  background-color: black;
  color: white;
  cursor: pointer;
  min-width: 100px;
  font-weight: bold;
  font-size: 15px;
}

.label-son {
  display: flex;
  justify-content: center;
  align-items: center;
}